<a href="https://colab.research.google.com/github/ZamoraKath/DSA-2-2-58011-/blob/main/Array_Activity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Access individual elements through indexes and compute for the sum

In [51]:
array = [1,2,3,4,5,6,7,8,9,10]
print('The array are' , array)
Int1 = "1"
Int2 = "2"
Int3 = "3"
Int4 = "4"
Int5 = "5"
Int6 = "6"
Int7 = "7"
Int8 = "8"
Int9 = "9"
Int20 = "10"
for x in array:
  print(x)

The array are [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1
2
3
4
5
6
7
8
9
10

Append a new item to the end of the array

In [54]:
array = [1,2,3,4,5,6,7,8,9,10]
print('The array are' , array)
Int1 = "1"
Int2 = "2"
Int3 = "3"
Int4 = "4"
Int5 = "5"
Int6 = "6"
Int7 = "7"
Int8 = "8"
Int9 = "9"
Int20 = "10"
for x in array:
  print(x)
array.append("11")
print('The array are' , array)

The array are [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1
2
3
4
5
6
7
8
9
10
The array are [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, '11']

Insert a new item before the second element in an existing array

In [56]:
array = [1,2,3,4,5,6,7,8,9,10]
print('The array are' , array)
Int1 = "1"
Int2 = "2"
Int3 = "3"
Int4 = "4"
Int5 = "5"
Int6 = "6"
Int7 = "7"
Int8 = "8"
Int9 = "9"
Int20 = "10"
for x in array:
  print(x)
array.append("11")
array.insert(1,21)
print('The array are' , array)

The array are [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1
2
3
4
5
6
7
8
9
10
The array are [1, 21, 2, 3, 4, 5, 6, 7, 8, 9, 10, '11']

Reverse the order of the items in the array

In [57]:
array = [1,2,3,4,5,6,7,8,9,10]
print('The array are' , array)
Int1 = "1"
Int2 = "2"
Int3 = "3"
Int4 = "4"
Int5 = "5"
Int6 = "6"
Int7 = "7"
Int8 = "8"
Int9 = "9"
Int20 = "10"
for x in array:
  print(x)
array.append("11")
array.insert(1,21)
array.reverse()
print('The array are' , array)

The array are [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1
2
3
4
5
6
7
8
9
10
The array are ['11', 10, 9, 8, 7, 6, 5, 4, 3, 2, 21, 1]

Length of the array

In [59]:
array = [1,2,3,4,5,6,7,8,9,10]
print('The array are' , array)
Int1 = "1"
Int2 = "2"
Int3 = "3"
Int4 = "4"
Int5 = "5"
Int6 = "6"
Int7 = "7"
Int8 = "8"
Int9 = "9"
Int20 = "10"
for x in array:
  print(x)
array.append("11")
array.insert(1,21)
array.reverse()
for x in array:
  print(x)
print('The array are' , array)

The array are [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
1
2
3
4
5
6
7
8
9
10
11
10
9
8
7
6
5
4
3
2
21
1
The array are ['11', 10, 9, 8, 7, 6, 5, 4, 3, 2, 21, 1]